POSTGRES_USER=nanored
POSTGRES_PASSWORD=nanored
POSTGRES_DB=nanoredproxy
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SOCKS5_LISTEN_HOST=0.0.0.0
SOCKS5_LISTEN_PORT=1080
BACKEND_PORT=8000
FRONTEND_PORT=3000
